$font-family-inter : 'Inter', sans-serif;
.h1-title{
      text-transform: uppercase;
      color: #136223;
      font-size: 18px;
      font-family: $font-family-inter;
      margin-bottom: 16px;
}

.personal-information{
    display: flex;
    background-color: #FFBA00;
    padding: 12px 146px 50px;

    .contact{
        flex: 1;
        h1{
          @extend .h1-title;
         
        }
         ul li {
             list-style: none;
             margin-bottom: 16px;

             i{
                 margin-right: 8px;
             }
             p{
                 font-family: $font-family-inter;
                 font-weight: 400;
                 font-size: 16px;
                  i {
                      width: 22px;
                  }
             }
         }
    }

    .university-h2{
        font-family: $font-family-inter;
        font-size: 14px;
        font-weight: 600;  
    }

    .university-p{
         font-family: $font-family-inter;
         font-size: 12px;
         font-style: italic;
         padding-bottom: 16px;
    }
    .education{
        flex: 1;
        h1 {
            @extend .h1-title;
        }
        .university h2,
        .senior_high_school h2,
        .junior_high_school h2 {
            @extend .university-h2;
        }
        .university p,
        .senior_high_school p,
        .junior_high_school p {
            @extend .university-p;
        }
       
    }
}